body {
    overflow: hidden;
}

.container {  
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 3fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". Center ."
      ". . .";
  }
  
  .Center {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "HomeLogo"
      "Search"
      "News";
    grid-area: Center;
  }
  
  .HomePageLogo { 
    grid-area: HomeLogo; 
  }

  #homelogo {
    /*background-image: url(../interfaces/logo/HomePage.png);*/
    object-fit: contain;
  }
  
  .Search { 
    grid-area: Search; 
    overflow: hidden;
  }

  #url-input-homepage {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  #url-innerurl-homepage {
    overflow: hidden;
    font-size: 2em;
    width: 100%;
    height: 70%;
    border: none;
  }
  
  .News { grid-area: News; }
  